@import 'fonts';
@import 'variables';

body {
  font-family: $text-font;
  color: var(--text-color);
}

h1 {
  font-size: $text-size-title;
  font-weight: $font-weight-regular;
}

p, label, button, input, span {
  font-size: $text-size-body;
}

.small {
  font-size: $text-size-detail;
  color: var(--control-color);
}

.bold {
  font-weight: $font-weight-bold;
}
