<div class="container">
  <div class="user-content">
    <img class="avatar" [src]="user.avatar | image">

    <div class="counters-buttons">
      <div class="counter-container">
        <div class="counter">
          <span class="value bold">{{user.likes}}</span>
          <span class="label">Likes</span>
        </div>

        <div class="counter">
          <span class="value bold">{{user.images}}</span>
          <span class="label">Images</span>
        </div>
      </div>

      <div *ngIf="isCurrentUser()" class="control-buttons">
        <a routerLink="/settings/account" class="button">
          Edit Profile
        </a>

        <a routerLink="/settings" class="button">
          <fa-icon [icon]="['fas', 'cog']"></fa-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="user-info">
    <span class="bold">{{user.name}}</span>
    <span>{{user.bio}}</span>
  </div>
</div>
