@import '../../../../styles/variables';

.container {
  margin: $vertical-spacing-medium;
}

.avatar {
  width: $avatar-side-large;
  height: $avatar-side-large;
}

.user-content, .counters-buttons, .control-buttons, .counter-container {
  display: flex;
  justify-content: space-between;
}

.counters-buttons {
  flex-direction: column;
}

.button {
  min-width: $icon-button-width;

  &:last-child {
    margin-left: $vertical-spacing-internal;
  }
}

.counter-container {
  justify-content: flex-end;
}

.counter {
  display: inline-block;

  span {
    text-align: center;
  }
}

span {
  display: inline-block;
  width: 100%;
}
