<div class="container full-width">
  <h1 class="title">Edit Profile</h1>

  <form (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="user">
    <div class="avatar-secton">
      <img class="avatar" [src]="imagePreview || (user.avatar | image)">

      <label for="file" class="button">Change Profile Photo</label>
      <input
        type="file"
        id="file"
        #file
        accept="image/*"
        (change)="onChange(file.files)"
      >
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="user.name"
        placeholder="John Doe"
        required
      >
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        placeholder="johndoe"
        required
      >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        placeholder="johndoe@mail.com"
        pattern="[^@]+@[^@]+\.[^@]+"
        required
      >
    </div>

    <div class="form-group">
      <label for="bio">Bio</label>
      <input
        type="text"
        id="bio"
        name="bio"
        [(ngModel)]="user.bio"
        maxlength="160"
      >
    </div>

    <button type="submit" class="button centered" [disabled]="!form.valid">
      Save Changes
    </button>
  </form>
</div>
