@import '../../../../styles/variables';

.container {
  padding-bottom: $spacing-medium;
}

.avatar-secton {
  display: flex;
  align-items: center;
  flex-direction: column;

  label {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-small;
  }

  .avatar {
    width: $avatar-side-medium;
    height: $avatar-side-medium;
  }

  #file {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
