@import '../../../../styles/variables';

.container {
  padding-bottom: $vertical-spacing-medium;
}

.avatar-secton {
  display: flex;
  align-items: center;
  flex-direction: column;

  label {
    margin-top: $vertical-spacing-medium;
    margin-bottom: $vertical-spacing-internal;
  }

  .avatar {
    width: $avatar-side;
    height: $avatar-side;
  }

  #file {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
