@import '~styles/variables';
@import '~styles/colors';

li {
  list-style: none;
  border-bottom: 1px black solid;
  height: $icon-button-width;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;

  span {
    margin-top: auto;
    margin-bottom: auto;
  }

  .disclosure {
    color: $primary-text-color;
    min-width: 10px;
    font-size: rem(16);
  }
}
