@import '~styles/variables';

li {
  list-style: none;
  border-bottom: 1px black solid;
  height: $icon-button-width;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;

  span {
    margin-top: auto;
    margin-bottom: auto;
  }

  .disclosure {
    background-image: url('/assets/forward.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 16px;
  }
}
