@import '../../../../styles/variables';

$margin: calc($spacing-small / $big-component-width) * 100%;
$image-side: 50% - $margin;

.frame {
  display: inline-block;
  width: $image-side;
  padding-top: $image-side;
  margin: calc($margin / 2);
}
