@import '../../../../styles/variables';

$margin: ($spacing-small / $big-component-width) * 100%;
$image-side: 50% - $margin;

.frame {
  display: inline-block;
  width: $image-side;
  padding-top: $image-side;
  margin: $margin / 2;
}
