@import '../../../../styles/helpers';
@import '../../../../styles/variables';
@import '../../../../styles/fonts';

.container {
  margin-top: $vertical-spacing-medium;
  margin-bottom: $vertical-spacing-medium;
}

.header, .content, .likes {
  margin-top: $spacing;
  margin-left: $spacing;
  margin-right: $spacing;
}

.dropdown-options {
  position: absolute;
  float: right;
  right: -$vertical-spacing-internal;
  top: $vertical-spacing-large;
}

.header, .likes {
  display: flex;
  align-items: center;

  span {
    margin-left: $spacing;
    margin-right: $spacing;
    white-space: nowrap;
    flex-grow: 1;
  }
}

.header {
  position: relative;
  justify-content: space-between;
}

.header, .content {
  margin-bottom: $spacing;
}

.content {
  word-break: break-word;

  p {
    display: inline;
  }

  .date {
    margin-top: $spacing;
    display: block;
  }

  .name::after {
    content: ' ';
  }
}

.dropdown-button {
  min-width: $spacing * 2;
  font-size: rem(16);

  &:hover, &:focus {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

.header {
  .avatar {
    width: $avatar-side-small;
    height: $avatar-side-small;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
