<div class="component">
  <div class="header">
    <a [routerLink]="['/users', user.id]" *ngIf="user">
      <img class="avatar" [src]="user.avatar | image">
    </a>
    <a [routerLink]="['/users', user.id]" class="bold username" *ngIf="user">
      {{user.username}}
    </a>

    <button
      *ngIf="isOwnedByCurrentUser()"
      class="dropdown-button icon"
      (click)="optionsOpened = !optionsOpened"
    >
      <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
    </button>
    <div *ngIf="optionsOpened" class="dropdown">
      <ul>
        <li (click)="onDeleteClick()">Delete image</li>
      </ul>
    </div>
  </div>

  <div class="frame">
    <img [src]="image.filename | image">
  </div>

  <div class="likes">
    <button class="like icon" [ngClass]="{'active': image.liked}" (click)="onLikeClick()">
        <div *ngIf="image.liked; else elseBlock">
          <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </div>
        <ng-template #elseBlock>
          <fa-icon [icon]="['far', 'heart']"></fa-icon>
        </ng-template>
    </button>

    <span class="bold">{{image.likes}} {{image.likes == 1 ? "like" : "likes"}}</span>
  </div>

  <div class="content">
    <span class="bold name" *ngIf="user && isDescriptionPresent()">
      {{user.name}}
    </span>
    <p class="description">{{image.description}}</p>
    <span class="small date">{{image.created | relativedate}}</span>
  </div>
</div>
