@import '../../../../styles/variables';

.header, .content, .likes {
  margin-top: $spacing-small;
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}

.dropdown {
  position: absolute;
  float: right;
  right: -$spacing-small;
  top: $spacing-large;
}

.username {
  text-decoration: none;
}

.header, .likes {
  display: flex;
  align-items: center;

  span, .username {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
    flex-grow: 1;
  }
}

.header {
  position: relative;
  justify-content: space-between;
}

.header, .content {
  margin-bottom: $spacing-small;
}

.content {
  word-break: break-word;

  p {
    display: inline;
  }

  .date {
    margin-top: $spacing-small;
    display: block;
  }

  .name::after {
    content: ' ';
  }
}

button.like {
  font-size: $text-size-title;
}

.dropdown-button {
  min-width: $spacing-medium;
  font-size: $text-size-button;

  &:hover, &:focus {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

.header {
  .avatar {
    width: $avatar-side-small;
    height: $avatar-side-small;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
