$background-color: #F8F9F8;
$component-background: #FFFFFF;
$component-border-color: #DFE0DF;

$primary-text-color: #32323C;

$button-border-color: #C0C1C0;

$button-background-color: #D3D2D3;
$button-active-color: #949494;
