// Light

:root {
  --text-color: #333333;
  --background-color: #ffffff;
  --detail-color: #e1f4f3;
  --control-color: #706c61;
}

// Dark

@media(prefers-color-scheme: dark) {
  :root {
    --text-color: #e6e6e6;
    --background-color: #323232;
    --detail-color: #646464;
    --button-color: #8f939e;
  }
}
