@import 'helpers';
@import 'variables';

// Buttons

.button {
  border: $border-width-regular solid var(--control-color);
  border-radius: $border-radius;
  padding: $border-radius;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;

  &:not(:disabled) {
    cursor: pointer;

    &:hover, &:focus {
      filter: brightness(1.75);
    }
    &:active {
      filter: brightness(1.5);
    }
  }
}

.nav-button {
  opacity: 0.4;
  font-size: $text-size-title;

  &.active {
    opacity: 0.8;
  }
}

button.icon {
  cursor: pointer;
}

button[type=submit] {
  width: 40%;
}

.button, input, .icon, textarea {
  color: var(--text-color);
}

.nav-button, .button {
  &:disabled {
    opacity: 0.6;
  }
}

// Dropdown

.dropdown-options {
  z-index: 1;
  width: $dropdown-width;
  border: $border-width-regular solid var(--control-color);
  border-radius: $border-radius;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    height: $icon-button-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: $spacing-small;
    margin-right: $spacing-small;
    cursor: pointer;
  }
}

// Classes

.full-width {
  max-width: $big-component-width;
  @include center-block;
}

.centered {
  @include center-block;
}

.bordered {
  border: $border-width-thin solid var(--detail-color);
  border-radius: $border-radius;
}

.form-group, .underlined {
  @include underline($border-width-regular);
}

// Images

.avatar {
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.frame {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: var(--detail-color);

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Elements

body {
  background-color: var(--background-color);
}

.title, .form-group, .reference, .alert {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}

.description {
  width: 75%;
}

.title, .description, .reference {
  text-align: center;
}

.title, .description, form, button[type=submit] {
  margin-top: $spacing-medium;
}

.reference {
  margin-top: $spacing-large;
  margin-bottom: $spacing-medium;

  span {
    margin-right: $spacing-small;
  }
}

a {
  color: var(--text-color);

  &:hover {
    filter: brightness(1.75);
  }
}

.component, .dropdown-options {
  background-color: var(--background-color);
}

// Forms

.form-group {
  margin-top: $spacing-small;
  height: $fieldset-height;
  display: flex;

  label {
    width: 30%;
  }

  input {
    flex: 1;
  }

  button, label {
    margin-top: auto;
    margin-bottom: auto;
  }
}

// Media

@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.85;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1.0;
    }
  }
}

