@import 'colors';
@import 'helpers';
@import 'variables';

.button {
  background: $button-background-color;
  text-decoration: none;
  &:not(:disabled) {
    &:hover, &:focus {
      background: darken($button-background-color,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background: darken($button-background-color, 25%);
    }
  }
}

.outline-button {
  border-style: solid;
  border-width: $button-border-width;
  border-color: $button-background-color;
  text-decoration: none;
  color: $primary-text-color;
  background-color: white;

  &:not(:disabled) {
    &:hover, &:focus {
      border-color: darken($button-background-color,8%);
      color: darken($primary-text-color, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      border-color: darken($button-background-color, 25%);
      color: darken($primary-text-color, 25%);
    }
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.button, .outline-button {
  padding: 5px;
}

.image-button {
  color: $primary-text-color;
  opacity: 0.4;
}

.image-button.active {
  opacity: 0.8;
}

.image-button, .button, .outline-button {
  &:disabled {
    opacity: 0.6;
  }
}

.round-corners {
  border-radius: $button-border-radius;
}

@media only screen and (min-width: $break-extra-small) {
  .full-width {
    width: $big-component-width;
    @include center-block;
  }
}

.description {
  width: 75%;
}

.title, .description, .reference {
  text-align: center;
}

.title, .description, form, button[type=submit] {
  margin-top: $vertical-spacing-medium;
}

.reference {
  margin-top: $vertical-spacing-large;
  margin-bottom: $vertical-spacing-medium;

  span {
    margin-right: $spacing;
  }
}

.title, .form-group, button[type=submit], .reference, .alert {
  margin-left: $spacing;
  margin-right: $spacing;
}

button[type=submit] {
  width: 40%;
  @include center-block;
}

.form-group {
  margin-top: $vertical-spacing-internal;
  height: $fieldset-height;
  display: flex;
  border-bottom: $button-border-width solid $button-border-color;

  label {
    width: 30%;
  }

  input {
    flex: 1;
    border: none;
  }

  button, label {
    margin-top: auto;
    margin-bottom: auto;
  }
}
