@import 'colors';
@import 'helpers';
@import 'variables';

// Buttons

.button {
  border-style: solid;
  border-width: $border-width-regular;
  border-color: $button-background-color;
  text-decoration: none;
  color: $primary-text-color;
  border-radius: $button-border-radius;
  padding: $button-border-radius;

  &:not(:disabled) {
    &:hover, &:focus {
      border-color: darken($button-background-color,8%);
      color: darken($primary-text-color, 8%);
      transition: all 0.3s ease;
    }
    &:active {
      border-color: darken($button-background-color, 25%);
      color: darken($primary-text-color, 25%);
    }
  }
}

.nav-button {
  opacity: 0.4;
  font-size: rem(26);

  &.active {
    opacity: 0.8;
  }
}

// Dropdown

.dropdown-options {
  z-index: 1;
  width: $dropdown-width;
  border: $border-width-regular solid $button-active-color;
  border-radius: $button-border-radius;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    height: $icon-button-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: $vertical-spacing-internal;
    margin-right: $vertical-spacing-internal;
  }
}

// Classes

.centered {
  margin-left: auto;
  margin-right: auto;
}

.nav-button, .button {
  &:disabled {
    opacity: 0.6;
  }
}

.description {
  width: 75%;
}

.title, .description, .reference {
  text-align: center;
}

.title, .description, form, button[type=submit] {
  margin-top: $vertical-spacing-medium;
}

.reference {
  margin-top: $vertical-spacing-large;
  margin-bottom: $vertical-spacing-medium;

  span {
    margin-right: $spacing;
  }
}

.component, .dropdown-options {
  background-color: $component-background;
}

.bordered {
  border: $border-width-thin solid $component-border-color;
  border-radius: $component-border-radius;
}

.icon {
  color: $primary-text-color;
}

// Images

.avatar {
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.frame {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: $background-color;

  img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Elements

.title, .form-group, button[type=submit], .reference, .alert {
  margin-left: $spacing;
  margin-right: $spacing;
}

button[type=submit] {
  width: 40%;
  @include center-block;
}

.form-group {
  margin-top: $vertical-spacing-internal;
  height: $fieldset-height;
  display: flex;
  border-bottom: $border-width-regular solid $button-border-color;

  label {
    width: 30%;
  }

  input {
    flex: 1;
  }

  button, label {
    margin-top: auto;
    margin-bottom: auto;
  }
}

// Media

@media only screen and (min-width: $break-extra-small) {
  .full-width {
    width: $big-component-width;
    @include center-block;
  }
}

@media (prefers-color-scheme: dark) {

}
