@import 'fonts';
@import 'helpers';

body {
  font-family: $text-font;
}

h1 {
  font-size: rem(26);
  font-weight: $font-weight-regular;
}

p, label, button, input, span {
  font-size: rem(15);
}

.small {
  font-size: rem(13);
  color: darken($color: lightgray, $amount: 25%);
}

.bold {
  font-weight: $font-weight-bold;
}
