// Components

$border-width-thin: 1px;
$border-width-regular: 2px;
$fieldset-height: 40px;
$navigation-bar-height: 50px;
$avatar-side-small: 50px;
$avatar-side-medium: 75px;
$avatar-side-large: 100px;
$icon-button-width: 40px;
$big-component-width: 450px;
$min-button-width: 100px;
$dropdown-width: 200px;
$border-radius: 5px;

// Spacing

$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 40px;
