<div class="container">
    <a class="logo" routerLink="/">
      <i class="fas fa-camera-retro icon"></i>
      <span class="text">PixelGram</span>
    </a>

    <div class="navigation">
      <ul *ngIf="isAuthed()">
        <li>
          <a
            class="image-button nav-button nav-home"
            routerLinkActive="active"
            aria-label="Feed"
            routerLink="/feed"
          >
            <i class="fas fa-home"></i>
          </a>
        </li>

        <li>
          <a
            class="image-button nav-button nav-new"
            routerLinkActive="active"
            aria-label="New Image"
            routerLink="/upload"
          >
            <i class="far fa-plus-square"></i>
          </a>
        </li>

        <li>
          <a
            class="image-button nav-button nav-profile"
            routerLinkActive="active"
            aria-label="My Profile"
            [routerLink]="['user', userId()]"
          >
            <i class="fas fa-user"></i>
          </a>
        </li>
      </ul>

      <ul *ngIf="!isAuthed()">
        <li>
          <a class="outline-button round-corners" routerLink="/login">
            Log In
          </a>
        </li>

        <li>
          <a class="outline-button round-corners" routerLink="/signup">
            Sign Up
          </a>
        </li>
      </ul>
    </div>
</div>
