<div class="container">
    <a class="logo" routerLink="/">
      <fa-icon [icon]="['fas', 'camera-retro']"></fa-icon>
      <span class="text">PixelGram</span>
    </a>

    <div class="navigation">
      <ul *ngIf="isAuthed()">
        <li>
          <a
            class="image-button nav-button nav-home"
            routerLinkActive="active"
            aria-label="Feed"
            routerLink="/feed"
          >
            <fa-icon [icon]="['fas', 'home']"></fa-icon>
          </a>
        </li>

        <li>
          <a
            class="image-button nav-button nav-new"
            routerLinkActive="active"
            aria-label="New Image"
            routerLink="/upload"
          >
            <fa-icon [icon]="['far', 'plus-square']"></fa-icon>
          </a>
        </li>

        <li>
          <a
            class="image-button nav-button nav-profile"
            routerLinkActive="active"
            aria-label="My Profile"
            [routerLink]="['user', userId()]"
          >
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </a>
        </li>
      </ul>

      <ul *ngIf="!isAuthed()">
        <li>
          <a class="outline-button round-corners" routerLink="/login">
            Log In
          </a>
        </li>

        <li>
          <a class="outline-button round-corners" routerLink="/signup">
            Sign Up
          </a>
        </li>
      </ul>
    </div>
</div>
