@import '~styles/variables';
@import '~styles/helpers';
@import '~styles/colors';

.container {
  height: $navigation-bar-height;
  display: flex;
  justify-content: space-between;
  background-color: $component-background;
}

.logo {
  margin: $vertical-spacing-internal;
  font-size: rem(26);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $primary-text-color;

  .text {
    margin-left: $vertical-spacing-internal;
    font-size: rem(18);
  }
}

.logo, ul {
  margin-left: $vertical-spacing-internal;
  margin-right: $vertical-spacing-internal;
}

.nav-button {
  font-size: rem(26);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  height: 100%;
  margin-right: $vertical-spacing-internal;

  li {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $vertical-spacing-internal;
    margin-right: $vertical-spacing-internal;
  }

  li a {
    display: block;
  }
}
