@import '~styles/variables';
@import '~styles/helpers';
@import '~styles/colors';

.container {
  height: $navigation-bar-height;
  display: flex;
  justify-content: space-between;
  background-color: $component-background;
}

.logo {
  margin: $vertical-spacing-internal;

  img {
    margin-top: $vertical-spacing-internal / 2;
  }
}

.logo, ul {
  margin-left: $vertical-spacing-internal;
  margin-right: $vertical-spacing-internal;
}

.nav-button {
  font-size: $icon-button-font-size;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  height: 100%;
  margin-right: $vertical-spacing-internal;

  li {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $vertical-spacing-internal;
    margin-right: $vertical-spacing-internal;
  }

  li a {
    display: block;
  }
}
