#Build
dist

# Development
uploads

# API keys and secrets
.env
config/server.config.ts

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db
