<div class="container full-width">
  <app-profile-header
    *ngIf="user"
    [user]="user"
    (openSettings)="onOpenSettings()"
    (openEditProfile)="onOpenEditProfile()"
  >
  </app-profile-header>

  <div class="image-container">
    <app-thumbnail
      *ngFor="let image of images()"
      [image]="image"
      (openImage)="onOpenImage($event)"
    >
    </app-thumbnail>
  </div>

  <button
    id="next"
    *ngIf="count() > 5"
    class="button outline-button round-corners"
    (click)="onNextClick()"
  >
    Next
  </button>
</div>
