$background-color: #F8F9F8;
$component-background: #FFFFFF;
$component-border-color: #DFE0DF;

$primary-text-color: #32323C;
$secondary-text-color: #969696;

$button-border-color: #C0C1C0;
$button-border-color-active: #000000;

$input-background-color: #E9E9E9;
$button-background-color: #D3D2D3;
$button-hover-color: #BAB9BA;
$button-active-color: #949494;

$button-subtitle-color: $primary-text-color;

$form-background-color: #F9F9F9;

$placeholder-text-color: #9B9B9B;
$input-active-color: #979797;
$input-error-color: red;
$input-required-color: green;
