@import '../../../styles/variables';

.container {
  height: $navigation-bar-height;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: $spacing-small;
  font-size: $text-size-title;
  display: flex;
  align-items: center;
  text-decoration: none;

  .text {
    margin-left: $spacing-small;
    font-size: $text-size-subtitle;
  }
}

.logo, ul {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
}

ul {
  display: flex;
  height: 100%;
  margin-right: $spacing-small;

  li {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }

  li a {
    display: block;
  }
}
