@import '~styles/variables';
@import '~styles/colors';

$avatar-side: $avatar-side-large * 0.75;

.container {
  padding-bottom: $vertical-spacing-medium;
}

.avatar-secton {
  display: flex;
  align-items: center;
  flex-direction: column;

  label {
    margin-top: $vertical-spacing-medium;
    margin-bottom: $vertical-spacing-internal;
  }

  .avatar {
    width: $avatar-side;
    height: $avatar-side;
    border-radius: $avatar-side / 2;
    background-color: $background-color;
    object-fit: cover;
  }

  #file {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
