@import '~styles/variables';
@import '~styles/colors';

.image-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: $big-component-width;
  background-color: $background-color;
  margin-top: $vertical-spacing-medium;
  margin-bottom: $vertical-spacing-medium;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

label {
  display: inline-block;
  margin-bottom: $vertical-spacing-large;
  margin-right: $spacing;
}

#file {
  display: none;
}
