<div class="container">
  <div class="header">
    <div class="user-content">
      <img
        [src]="avatar() | image:avatarPlaceholder()"
        (click)="onProfileClick()"
      >

      <span class="bold" (click)="onProfileClick()">
        {{user ? user.username : ''}}
      </span>
    </div>

    <button
      *ngIf="isOwnedByCurrentUser()"
      class="dropdown-button"
      (click)="optionsOpened = !optionsOpened"
    >
      <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
    </button>
    <div *ngIf="optionsOpened" class="dropdown-options">
      <ul>
        <li (click)="onDeleteClick()">Delete image</li>
      </ul>
    </div>
  </div>

  <div class="image-container">
    <img class="image" [src]="image.filename | image">
  </div>

  <div class="likes">
    <button class="like" [ngClass]="{'active': image.isLiked}" (click)="onLikeClick()">
        <div *ngIf="image.isLiked; else elseBlock">
          <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </div>
        <ng-template #elseBlock>
          <fa-icon [icon]="['far', 'heart']"></fa-icon>
        </ng-template>
    </button>

    <span class="bold">{{image.likes}} {{image.likes == 1 ? "like" : "likes"}}</span>
  </div>

  <div class="content">
    <span class="bold" *ngIf="isDescriptionPresent()">
      {{user ? user.name : ''}}
    </span>

    <p>{{image.description}}</p>

    <span class="small date">{{image.createdAt | relativedate}}</span>
  </div>
</div>
