@import '~stylesheets/mixins';
@import '~stylesheets/variables';
@import '~stylesheets/functions';
@import '~stylesheets/fonts';
@import '~stylesheets/flexbox';

.container {
  border: 1px solid $component-border-color;
  margin-top: $vertical-spacing-medium;
  margin-bottom: $vertical-spacing-medium;
  background-color: $component-background;
  border-radius: $component-border-radius;
}

.header, .content, .likes {
  margin-top: $spacing;
  margin-left: $spacing;
  margin-right: $spacing;
}

.dropdown-options {
  position: absolute;
  float: right;
  right: -$vertical-spacing-internal;
  width: $dropdown-width;
  top: $vertical-spacing-large;
  border: $button-border-width solid $button-active-color;
  border-radius: $button-border-radius;
  background-color: $component-background;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    height: $icon-button-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: $vertical-spacing-internal;
    margin-right: $vertical-spacing-internal;
  }
}

.header, .likes, .user-content {
  @include flexbox;
  @include align-items(center);

  span {
    margin-left: $spacing;
  }
}

.header {
  position: relative;
  @include justify-content(space-between);
}

.header, .content {
  margin-bottom: $spacing;
}

.content {
  span {
    margin-right: $spacing;
  }

  p {
    display: inline;
  }

  .date {
    margin-top: $spacing;
    display: block;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.small {
  color: darken($color: lightgray, $amount: 25%);
}

.dropdown-button {
  background-image: url('/assets/images/dropdown.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;

  &:hover, &:focus {
    opacity: 0.6;
    transition: all 0.3s ease;
  }
}

.header {
  img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
