<div class="container full-width">
  <h1 class="title">Log In</h1>

  <p class="description centered">
    Log in to your account to post amazing images and catch up with the community
  </p>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="emailValue"
        placeholder="johndoe@mail.com"
        pattern="[^@]+@[^@]+\.[^@]+"
        required
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type={{passwordFieldType}}
        id="password"
        name="password"
        [(ngModel)]="passwordValue"
        placeholder="password"
        minlength="4"
        maxlength="30"
        required
      >

      <button type="button" class="button" (click)="onVisibilityToggle()">
        {{showButtonTitle | uppercase}}
      </button>
    </div>

    <button type="submit" class="button centered" [disabled]="!form.valid">
      Log In
    </button>
  </form>

  <div class="reference">
    <span>Don't have an accout?</span>
    <a routerLink="/signup">Register</a>
  </div>
</div>
