<div class="container full-width">
  <h1 class="title">Register</h1>

  <p class="description centered">
    Create account to post amazing images and see what the community has created
  </p>

  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="nameValue"
        placeholder="John Doe"
        required
      >
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="usernameValue"
        placeholder="johndoe"
        required
      >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="emailValue"
        placeholder="johndoe@mail.com"
        pattern="[^@]+@[^@]+\.[^@]+"
        required
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type={{passwordFieldType}}
        id="password"
        name="password"
        [(ngModel)]="passwordValue"
        placeholder="password"
        minlength="4"
        maxlength="30"
        required
      >
      <button type="button" class="button" (click)="onVisibilityToggle()">
        {{showButtonTitle | uppercase}}
      </button>
    </div>

    <button type="submit" class="button centered" [disabled]="!form.valid">
      Create Account
    </button>
  </form>

  <div class="reference">
    <span>Already have an accout?</span>
    <a routerLink="/login">Login</a>
  </div>
</div>
