<div class="full-width">
  <h1 class="title">New Post</h1>

  <div class="container">
    <div class="frame">
      <img *ngIf="imagePreview" [src]="imagePreview">
    </div>

    <div class="controls">
      <label for="file" class="button">Select a Photo</label>
      <input
        type="file"
        id="file"
        #file
        accept="image/*"
        (change)="onChange(file.files)"
      >

      <button class="button" (click)="onNextClick()" [disabled]="!imagePreview">
        Next
      </button>
    </div>
  </div>
</div>
