@import '../../../styles/variables';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frame {
  width: 100%;
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;
}

label {
  display: inline-block;
  margin-bottom: $spacing-large;
  margin-right: $spacing-small;
}

#file {
  display: none;
}
