<div class="container full-width">

  <h1 class="title">Change Password</h1>

  <form (ngSubmit)="onSubmit()" #form="ngForm">

    <div class="fieldset">
      <label for="old-password">Old Password</label>
      <input type={{oldPasswordFieldType}} id="old-password"
        name="old-password" #oldPassword="ngModel" [(ngModel)]="oldPasswordValue"
        placeholder="old password" minlength="4" maxlength="30" required>
      <button type="button" class="round-corners outline-button"
        (click)="onVisibilityToggle($event, oldPassword)">
        {{oldPasswordShowButtonTitle | uppercase}}
      </button>
    </div> <!-- End of password field -->

    <div class="fieldset">
      <label for="password">New Password</label>
      <input type={{passwordFieldType}} id="password"
        name="password" #password="ngModel" [(ngModel)]="passwordValue"
        placeholder="password" minlength="4" maxlength="30" required>
      <button type="button" class="round-corners outline-button"
        (click)="onVisibilityToggle($event, password)">
        {{passwordShowButtonTitle | uppercase}}
      </button>
    </div> <!-- End of password field -->

    <button type="submit" class="round-corners outline-button" [disabled]="!form.form.valid">Change Password</button>

  </form> <!-- End of form -->

</div> <!-- End of container -->
