@import '../../../styles/variables';

li {
  list-style: none;
  height: $icon-button-width;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;

  span {
    margin-top: auto;
    margin-bottom: auto;
  }

  .disclosure {
    min-width: $spacing-small;
    font-size: rem(16);
  }
}
