<div class="container full-width">
  <h1 class="title">Settings</h1>

  <ul>
    <li class="underlined">
      <a routerLink="/settings/password" class="item">
        <span>Change Password</span>
        <span class="disclosure">
            <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </span>
      </a>
    </li>

    <li class="underlined">
      <a [routerLink]="['/users', userId(), 'likes']" class="item">
        <span>Liked images</span>
        <span class="disclosure icon">
          <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
        </span>
      </a>
    </li>

    <li class="underlined">
      <div class="item" (click)="onLogoutClick()">
        <span>Logout</span>
      </div>
    </li>
  </ul>
</div>
