@import '../../../styles/variables';

ul {
  margin-top: $spacing-medium;
  margin-left: $spacing-small / 2;
  margin-right: $spacing-small / 2;
}

li {
  list-style: none;
  height: $icon-button-width;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;

  span {
    margin-top: auto;
    margin-bottom: auto;
  }

  .disclosure {
    min-width: $spacing-small;
    font-size: $text-size-button;
  }
}
