@import '../../../styles/variables';

ul {
  margin-top: $spacing-medium;
  margin-left: $spacing-small / 2;
  margin-right: $spacing-small / 2;
}

.item {
  display: flex;
  height: $icon-button-width;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  span {
    flex-grow: 1;
  }

  .disclosure {
    font-size: $text-size-button;
    flex-grow: 0;
  }
}
