@import '~styles/variables';

.container {
  margin: $vertical-spacing-medium;
}

.avatar {
  width: $avatar-side-large;
  height: $avatar-side-large;
  border-radius: $avatar-side-large / 2;
  object-fit: cover;
}

.user-content, .counters-buttons, .control-buttons, .counter-container {
  display: flex;
  justify-content: space-between;
}

.counters-buttons {
  flex-direction: column;
}

.outline-button {
  min-width: $icon-button-width;

  &:last-child {
    margin-left: $vertical-spacing-internal;
  }
}

.counter-container {
  justify-content: flex-end;
}

.counter {
  display: inline-block;

  span {
    text-align: center;
  }
}

.user-info, .counter {
  span {
    display: inline-block;
    width: 100%;
  }
}
