<div class="container">

  <div class="user-content">
    <img class="avatar"
      [src]="user.avatar | image:'/assets/images/avatar_placeholder.png'">

    <div class="counters-buttons">
      <div class="counter-container">
        <div class="counter">
          <span class="value bold">
            {{user.likes}}
          </span>

          <span class="label">
            Likes
          </span>
        </div> <!-- End of counter -->

        <div class="counter">
          <span class="value bold">
            {{user.images}}
          </span>

          <span class="label">
            Images
          </span>
        </div> <!-- End of counter -->
      </div> <!-- End of counter-container -->

      <div *ngIf="isCurrentUser()" class="control-buttons">
        <button
          class="round-corners outline-button"
          (click)="onEditProfileClick()">
          Edit Profile
        </button>

        <button id="settings-button"
          class="round-corners outline-button"
          (click)="onSettingsClick()">
        </button>
      </div> <!-- End of control-buttons -->
    </div> <!-- End of counters-buttons -->
  </div> <!-- End of user-content -->

  <div class="user-info">
    <span class="bold">
      {{user.name}}
    </span>

    <span>
      {{user.bio}}
    </span>
  </div> <!-- End of user-info -->

</div> <!-- End of container -->
