@import '../../../../styles/helpers';
@import '../../../../styles/variables';

.toast-container {
  width: 280px;
  border-width: 2px;
  border-color: red;
  border-style: solid;
  background-color: lighten(red, 40%);
  padding: 5px;
  margin-top: $vertical-spacing-medium;

  .content {
    font-size: rem(16);
  }
}
