@import "~styles/variables";

$image-side: 50% - 16px / $big-component-width;

.container {
  display: inline-block;
  width: $image-side;
  padding-top: $image-side;
  position: relative;
}

.image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: green;
  object-fit: cover;
}
