@import '~styles/variables';

$image-side: (($big-component-width - $vertical-spacing-internal) / 2);

.container {
  display: inline-block;
}

.container img {
  width: $image-side;
  height: $image-side;
  object-fit: cover;
}
