@import "~styles/variables";

$margin: ($vertical-spacing-internal / $big-component-width) * 100%;
$image-side: 50% - $margin;

.container {
  display: inline-block;
  width: $image-side;
  padding-top: $image-side;
  position: relative;
  margin: $margin / 2;
}

.image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: green;
  object-fit: cover;
}
