<div class="container full-width">

  <h1 class="title">New Post</h1>

  <div class="post-section">
    <div class="image-container">
      <img *ngIf="imagePreview" class="image" [src]="imagePreview">
    </div>

    <textarea placeholder="Write a description..."
      maxlength="160"
      [(ngModel)]="imageDescription">
    </textarea>
  </div>

  <button class="round-corners centered outline-button"
    (click)="onSubmitClick()"
    [disabled]="!hasSelectedFile()">
    Share
  </button>

</div> <!-- End of container -->
