<div class="container full-width">
  <pg-profile-header *ngIf="user"
    [user]="user"
    (openSettings)="onOpenSettings()"
    (openEditProfile)="onOpenEditProfile()">
  </pg-profile-header>

  <div class="image-container">
    <pg-thumbnail *ngFor="let image of images"
      [image]="image"
      (openImage)="onOpenImage($event)">
    </pg-thumbnail>
  </div>

  <button id="next" *ngIf="images.length > 5"
    class="button outline-button round-corners"
    (click)="onNextClick()">
    Next
  </button>
</div>
