@import '../../../../styles/variables';

.section {
  display: flex;
  margin-top: $spacing-medium;
  height: $avatar-side-large;
}

.frame {
  display: inline-block;
  width: $avatar-side-large;
  margin: 0 $spacing-small;
  padding-top: $avatar-side-large;
}

textarea {
  resize: none;
  margin-right: $spacing-small;
  flex-grow: 1;
}

button {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-large;
}
